<!doctype html>
<html lang="en" dir="ltr">
<head>
<base href="."/>
<title>Storefront</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<script src="./app.js"></script>
</head>
<body ng-cloak ng-app="storefrontApp">
<div ng-controller="storefrontController">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

		<h1>Etherbay</h1>
		<h2>Sell your stuff via the ethereum blockchain</h2>

		<p>Account: {{account}}</p>
		<p>Balance: {{balance}}</p>


		<table>
          <tr>
            <td>
              <form id="StoreForm" ng-submit="newStore()">
                <input type="submit" class="btn btn-primary addnew" value="New Store"></h3>
              </form>
            </td>
            <td>        
              <h3>
                <form id="accountForm" ng-submit="setAccount()">
                  &nbsp;
                  <select name="account" ng-model="accountSelected" required>
                    <option ng-repeat="account in accounts" value="{{ account }}">
                    {{ account }}
                    </option>
                  </select>
                  <input type="submit" class="btn btn-primary" value="Select Account"></h3>
                </form>
              </h3>
            </td>
          </tr>
        </table>

        <form ng-submit="editStore()">
        	<select name="store" ng-model="editStoreSelected" required>
        		<option ng-repeat="store in stores" value="{{ store.args.storefrontAddress }}">
        		{{ store.args.storefrontAddress }}
        		</option>
        	</select>
        	<input type="submit" class="btn btn-primary" value="Select Storefront">
        </form>

        <form ng-submit="addProduct()" ng-if="editStoreSelected" >
        	<input ng-model="newProductQuantity" type="text" required placeholder="Quantity" />
        	<input ng-model="newProductPrice" type="text" required placeholder="Price (wei)" />
        	<input type="submit" class="btn btn-primary" value="Add Product">
        </form>

        <form ng-submit="shopAtStore()">
        	<select name="store" ng-model="shopStoreSelected" required>
        		<option ng-repeat="store in stores" value="{{ store.args.storefrontAddress }}">
        		{{ store.args.storefrontAddress }}
        		</option>
        	</select>
        	<input type="submit" class="btn btn-primary" value="Shop Here">
        </form>


		</div>
	</div>
</div>
</div>
<script>
// window.addEventListener('load', function(){
// 	angular.bootstrap(document, ['storefrontApp']);
// });
	</script>

</body>


</html>
